*{
    font-family: 'IBM Plex Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding: 0px;
    color:black;
  }
body{
    margin:0;
    background:white;
}
h1{
    font-size:30px;
    border-bottom:2px solid black;
    text-align:center;
    margin:0;
    padding:10px;
}
.head{
    font-size:20px;
    display:flex;
    margin:0;
    background:white;
    height:80px;
}
.menu{
    display: flex;
    line-height:80px;
    border-bottom:2px solid black;
}
.menu > li {
    margin-left:180px;
  }
.menu > li > a {
    color:black;
  }
  .main_text1{
    width: 100%;
    height:659px;
    /* margin-top:-132px; */
    /* background: #2F7AF4 */
  }
  .in{
    margin-left:410px;
  }
  .team{
    display: flex;
    background: #1f1f1f;
    padding:30px;
  }
  .team > div:first-child {
    flex:3;
    text-align: center;
    color: #fff;
  }
  .team > div:last-child {
    flex:9;
    color: #fff;
  }